<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >



      <v-flex xs3 offset-xs1>
        <v-select
          @change="getWeather()"
          v-model="selectedCity"
          :items="[{text:'Toronto',value:6167865},{value:6094817,text:'Ottawa'},{value:1850147,text:'Tokyo'}]"
          label="Cities"
        ></v-select>
      </v-flex>
      <v-flex v-if="weather" xs10 offset-xs1>
       <h3 style="text-align: left"> {{weather.data.weather[0].main}}</h3>
       <p style="text-align: left"> {{weather.data.weather[0].description}}.</p>
       <p style="text-align: left"> {{weather.data.main.temp}} C.</p>
       <p style="text-align: left"> {{weather.data.wind.speed}} m/sec.</p>
        <p style="text-align: left">  <v-btn style="text-align: left"
        @click="seeForecast()"
          color="primary"
          elevation="2"
        >SEE FORECAST</v-btn></p>
      </v-flex>
      <v-flex xs10 offset-xs1 >

        <v-data-table
          v-if="forecast.length>0"
          :headers="headers"
          :items="forecast"

          class="elevation-1"
        ></v-data-table>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from 'moment'
export default {
  data: () => ({
    selectedCity:6167865,
    weather:'',

    forecast:[],
    headers: [
      {
        text: 'Date',
        align: 'left',
        value: 'date',
      },
      { text: 'Temp', value: 'temp', align: 'left' },
      { text: 'Min Temp', value: 'min_temp', align: 'left' },
      { text: 'Max Temp', value: 'max_temp', align: 'left' },
      { text: 'Wind', value: 'wind', align: 'left' },
      { text: 'Description', value: 'description', align: 'left' },
    ],

  }),
  created() {
    this.getWeather();
  },
  methods: {
    getWeather(){
      axios.get('http://api.openweathermap.org/data/2.5/weather?id='+this.selectedCity+'&appid=538882fc8387290c6cee83f313a6acf5&units=metric')
        .then((success)=>{
          this.weather=success
        })
    },
    seeForecast(){
      axios.get('http://api.openweathermap.org/data/2.5/forecast?id='+this.selectedCity+'&appid=538882fc8387290c6cee83f313a6acf5&units=metric')
        .then((success)=>{
          this.forecast=   success.data.list.map(item=>(
            {
              date:moment(item.dt_txt).format("DD MMM HA"),
              temp:item.main.temp+' C',
              min_temp:item.main.temp_min+' C',
              max_temp:item.main.temp_max+' C',
              wind:item.wind.speed+ ' m/sec',
              description:item.weather[0].description
            }
            ))

        })
    }

  },
};
</script>
